* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    font-family: var(--font-primary);
}

:root {
    --font-primary: Avenir Next, Helvetica, sans-serif;
    --font-secondary: Graphik,Helvetica,sans-serif;
}